body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(88, 140, 252);
  color: white;
  font-family: poppins;
  transition: ease-in-out 100ms;
}

.leader-board-active {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leaderboard-list {
  text-decoration: none;
  list-style-type: none;
  text-align: center;
}

.view-lb-btn {
  border: none;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  bottom: 60px;
  margin: 10px 20px;
  color: rgb(78, 122, 218);
  width: 200px;
  height: 100px;
}

.view-lb-btn:hover {
  transform: scale(1.04);
  transition: ease 0.25s;
  background-color: rgb(21, 21, 54);
  color: white;
}

.viewLeaderBoard {
  display: none;
}

.leader-board {
  display: none;
}

.form {
  display: none;
}

.enterName {
  margin-bottom: 50px;
}

.inputActive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  text-align: center;
}

#input {
  display: none;
  border: none;
  flex-direction: column;
  transition: ease 250ms;
}

#input:focus {
  outline: none;
  transform: scale(1.1);
  box-shadow: 1px 2px 4px #000000;
  padding: 5px;
}

#question {
  position: relative;
  top: 50px;
  text-align: center;
}

#content {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.option-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.button {
  border: none;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 20px;
  color: rgb(78, 122, 218);
  width: 200px;
  height: 70px;
}

#submit {
  margin-top: 50px;
  padding: 0;
  height: 50px;
}

.button:hover {
  transform: scale(1.04);
  transition: ease 0.25s;
  background-color: rgb(21, 21, 54);
  color: white;
}

@media screen and (max-width: 1000px) {
  body {
    justify-content: center;
    height: 100vh;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .button {
    margin: 10px 0px;
    height: 70px;
    width: 200px;
  }

  #clearScores {
    position: relative;
    bottom: 30px;
  }
}
